*.DS_Store

*.xcworkspacedata

*.xccheckout

*.xcuserstate

*.xcbkptlist

*.xcscheme

*.pch

BAC Calc/BacData.xcdatamodeld/BacData.xcdatamodel/contents

BAC Calc.xcodeproj/xcuserdata/Melissa.xcuserdatad
